<html>
    <head>
        <title><%= title %></title>
        <link href="stylesheets/bootstrap.min.css" rel="stylesheet">
        <link href="stylesheets/style.css" rel="stylesheet">

        <script src="javascript/angular.min.js"></script>
        <script src="javascript/angular-ui-router.min.js"></script>
        <script src="javascript/angularApp.js"></script>
        <style> .glyphicon-thumbs-up { cursor:pointer } </style>
    </head>
    <body ng-app="theShowcase">
        <nav class="navbar navbar-default" ng-controller="NavCtrl">
            <ul class="nav navbar-nav">
                <li><a href='/#/'>Home</a></li>
            </ul>
            <ul class="nav navbar-nav pull-right">
                <li ng-show="isLoggedIn()"><a>{{currentUser()}}</a></li>
                <li ng-show="isLoggedIn()"><a href="" ng-click="logOut()">Log Out</a></li>
                <li ng-hide="isLoggedIn()"><a href="/#/login">Log In</a></li>
                <li ng-hide="isLoggedIn()"><a href="/#/register">Register</a></li>
            </ul>
        </nav>
        
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <ui-view></ui-view>
            </div>
        </div>
        
        <script type="text/ng-template" id="/home.html">
            <div class="page-header">
                <h1><%= title %></h1>
            </div>

            <div ng-repeat="item in items | orderBy:'-upvotes'">
                <div class="row page-header">
                    <div class="col-xs-2 col-md-2 vcenter">
                        <a class="glyphicon glyphicon-thumbs-up" ng-show="isLoggedIn()" href="" ng-click="upvote(item)"></a>
                        <a class="glyphicon glyphicon-thumbs-up" ng-hide="isLoggedIn()" href="/#/login"></a>
                        {{item.upvotes}}
                        <a class="glyphicon glyphicon-thumbs-down" ng-show="isLoggedIn()" href="" ng-click="downvote(item)"></a>
                        <a class="glyphicon glyphicon-thumbs-down" ng-hide="isLoggedIn()" href="/#/login"></a>
                    </div>
                    
                    <div class="col-xs-10 col-md-10 vcenter">
                        <span ng-show="item.image">
                            <a href="#/items/{{item._id}}">
                                <img src="{{item.image}}" width="300px"/>
                            </a>
                        </span>
                        <span ng-hide="item.image">
                            <a href="#/items/{{item._id}}">
                                <img src="http://res.cloudinary.com/dq079el2c/image/upload/v1460581908/idea-1296140_1280_jwzf2s.jpg" width="300px"/>
                            </a>
                        </span>
                        
                        <br/>
                        
                        <span style="font-size:20px; margin-left:10px;">
                            <a ng-show="item.link" href="{{item.link}}">
                                {{item.title}}
                            </a>
                            <span ng-hide="item.link">
                                {{item.title}}
                            </span>
                        </span>
        
                        <span ng-show="item.author">
                        - by {{item.author}}
                        </span>
                        
                        <span>
                            <a href="#/items/{{item._id}}">Comments</a>
                            ({{item.comments.length}})
                        </span>
                    </div>
                </div>
            </div>

            <form ng-submit="addItem()" ng-show="isLoggedIn()" style="margin-top:30px;">
                <h3>Add a new item</h3>

                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Title" ng-model="title"/>
                </div>

                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Link" ng-model="link"/>
                </div>

                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Image URL" ng-model="image"/>
                </div>

                <button type="submit" class="btn btn-primary">Post</button>
            </form>

            <div ng-hide="isLoggedIn()">
                <h3>You need to <a href="/#/login">Log In</a> or <a href="/#/register">Register</a> before you can add an item.</h3>
            </div>
        </script>

        <script type="text/ng-template" id="/items.html">
            <div class="page-header">
                <h3>
                    <a ng-show="item.link" href="{{item.link}}">
                        {{item.title}}
                    </a>
                    <span ng-hide="item.link">
                        {{item.title}}
                    </span>
                </h3>
                
                <span ng-show="item.image">
                    <img src="{{item.image}}" style="width: 100%;"/>
                </span>
                <span ng-hide="item.image">
                    <img src="http://res.cloudinary.com/dq079el2c/image/upload/v1460581908/idea-1296140_1280_jwzf2s.jpg" style="width: 100%;"/>
                </span>
            </div>
            
            <div ng-repeat="comment in item.comments | orderBy:'-upvotes'">
                <a class="glyphicon glyphicon-thumbs-up" ng-show="isLoggedIn()" href="" ng-click="upvote(comment)"></a>
                <a class="glyphicon glyphicon-thumbs-up" ng-hide="isLoggedIn()" href="/#/login"></a>
                {{comment.upvotes}}
                <a class="glyphicon glyphicon-thumbs-down" ng-show="isLoggedIn()" href="" ng-click="downvote(comment)"></a>
                <a class="glyphicon glyphicon-thumbs-down" ng-hide="isLoggedIn()" href="/#/login"></a>

                <span ng-show="comment.author">
                - by {{comment.author}}
                </span>
        
                <span style="font-size:20px; margin-left:10px;">
                    {{comment.body}}
                </span>
            </div>

            <form ng-submit="addComment()" ng-show="isLoggedIn()" style="margin-top:30px;">
                <h3>Add a new comment</h3>

                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Comment" ng-model="body"/>
                </div>
                
                <button type="submit" class="btn btn-primary">Post</button>
            </form>

            <div ng-hide="isLoggedIn()">
                <h3>You need to <a href="/#/login">Log In</a> or <a href="/#/register">Register</a> before you can comment.</h3>
            </div>
        </script>

        <script type="text/ng-template" id="/register.html">
            <div class="page-header">
                <h1><%= title %></h1>
            </div>

            <div ng-show="error" class="alert alert-danger row">
                <span>{{error.message}}</span>
            </div>

            <form ng-submit="register()" style="margin-top:30px;">
                <h3>Register</h3>

                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Username" ng-model="user.username"/>
                </div>
        
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Password" ng-model="user.password"/>
                </div>
        
                <button type="submit" class="btn btn-primary">Register</button>
            </form>
        </script>

        <script type="text/ng-template" id="/login.html">
            <div class="page-header">
                <h1><%= title %></h1>
            </div>

            <div ng-show="error" class="alert alert-danger row">
                <span>{{error.message}}</span>
            </div>

            <form ng-submit="logIn()" style="margin-top:30px;">
                <h3>Log In</h3>

                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Username" ng-model="user.username"/>
                </div>
        
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Password" ng-model="user.password"/>
                </div>
        
                <button type="submit" class="btn btn-primary">Log In</button>
            </form>
        </script>
    </body>
</html>
